.error {
  .page {
    display: flex;
    flex-direction: column;

    &--header {
      flex: 0 0 33.33vh;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      text-align: center;
      overflow: hidden;

      & .header--title {
        font-weight: normal;
        letter-spacing: 0.5em;
        animation: wobble 0.33s 0.75s both;
      }
    }

    &--article {
      flex: 0 0 66.66vh;
      text-align: center;
      font-weight: normal;
      letter-spacing: 0.5em;
    }

    &--footer {
      width: 100%;
    }
  }
}
