.theme-brown {
  background: $dark;
  color: $light;
  stroke: $dark;
  fill: $light;

  a {
    text-decoration: none;
    color: inherit;
  }

  svg, svg * {
    fill: inherit;
    stroke: inherit;
  }

  .button {
    min-width: 7mm;
    min-height: 7mm;
    line-height: calc(7mm + 1em);
    margin: 2mm 0 0 2mm;
    padding: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }

  & .image--content, .home--content {
    overflow: hidden;

    & img { animation: fadeInUp 1s 0.75s both; }
    @keyframes fadeInUp {
      from { opacity: 0; transform: translate3d(0, 100%, 0); }
      to { opacity: 1; transform: none; }
    }
  }

  & .articles .header img { box-shadow: 0 1px 1px 0 $light; }

  & .articles .header {
    &--image-noImage {
       background: $light;
    }
  }

  .footer {
    border-style: solid;
    border-width: 1px 0 0 0;
  }
}
